.menu-container {
  background-color: #212529;
  padding: 20px;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.quantity button:hover {
  background-color: #0056b3;
}

.quantity span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.zero {
  visibility: visible;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* menu.css per i bottoni + e - */

.button-round {
  border-radius: 10%; /* Rendi i bordi circolari */
  width: 30px; /* Imposta la larghezza desiderata */
  height: 40px; /* Imposta l'altezza desiderata */
  border: none; /* Rimuovi i bordi */
  background-color: #fff; /* Imposta il colore di sfondo desiderato */
  font-size: 20px; /* Imposta la dimensione del testo */
  cursor: pointer; /* Cambia il cursore al passaggio sopra il bottone */
  transition: background-color 0.3s ease; /* Aggiungi un'animazione al cambio di colore di sfondo */
}

.button-round:hover {
  background-color: #e0e0e0; /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Stili per i bottoni + e - */
.button-plus,
.button-minus {
  margin: 0 5px; /* Imposta un margine tra i bottoni */
}


